<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="js/jquery.js" charset="utf-8"></script>
  <script src="js/three.js" charset="utf-8"></script>



<script src="js/datGui.js" charset="utf-8"></script>
<script src="js/orbitControls.js" charset="utf-8"></script>
<!-- <script src="js/stats.js" charset="utf-8"></script> -->



  <script src="js/main.js" charset="utf-8"></script>
  <link rel="stylesheet" href="css/master.css">

</head>
<p id="notice"><%= notice %></p>

<h1>Planets</h1>

<div id="solar"></div>

<% @planets.each do |planet| %>
  <p>
    <%= link_to planet.name, planet_path(planet.id) %>
  </p>
<% end %>

<% if @current_user.present? %>
  <div class="controls">
    <h3><%= link_to 'New Planet', new_planet_path %></h3>
  </div>
<% end %>
