<main>
  <div id="solar"></div>
</main>

<aside>
  <h1>Planets</h1>
  <% @planets.each do |planet| %>
    <p class="moon-index">
      <%= link_to planet.name, planet_path(planet.id) %>
    </p>
  <% end %>
</aside>

<% if @current_user.present? %>
  <div class="controls">
    <h3><%= link_to 'New Planet', new_planet_path %></h3>
  </div>
<% end %>
