<p id="notice"><%= notice %></p>

<h1>Planets</h1>

<% @planets.each do |planet| %>
  <p>
    <%= link_to planet.name, planet_path(planet.id) %>
  </p>
<% end %>

<%= link_to 'New Planet', new_planet_path %>
