<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Wiki</title>
  </head>
  <body>
    <h1>Solar Wiki</title>
    <p>
      Wikipedia for the solar system.
    </p>
  </body>
</html>
