    <!-- <div class="container"> -->

    <!-- SCROLL ARROW -->
    <!-- <div class="divButtonArrow">
      <p id="home-text-anchor">X</p>
    </div> -->
    <!-- END SCROLL ARROW -->

      <div id="home-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/NASA_Unveils_Celestial_Fireworks_as_Official_Hubble_25th_Anniversary_Image.jpg/1599px-NASA_Unveils_Celestial_Fireworks_as_Official_Hubble_25th_Anniversary_Image.jpg" alt="Hubble space telescope 25th anniversary image of a giant cluster of about 3,000 stars called Westerlund 2"/>
      </div><!-- END home-image DIV -->

    <div id="home-text-anchor"></div>

      <div class="home-text">
        <h2 id="small-home-h2">Solar System</h2>

        <p class="solar-system"></p>

          <p class="system"></p>
          </div>

        </div>
      <!-- END home-text DIV -->
    <!-- </div>END container DIV -->

    <!-- </div>END container DIV --><!-- </div>END container DIV -->
