<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Wiki</title>
  </head>
  <body>
      <h1>Solar Wiki</title>
        <h2>Wikipedia for the solar system.</h2>

      <p>
        The Solar System is the gravitationally bound system comprising the Sun and
        the objects that orbit it, either directly or indirectly. Of the objects
        that orbit the Sun directly, the largest eight are the planets, with the
        remainder being smaller objects, such as dwarf planets and small Solar
        System bodies. Of the objects that orbit the Sun indirectly, the moons,
        two are larger than the smallest planet, Mercury.
      </p>
      <p>
        The Solar System formed 4.6 billion years ago from the gravitational
        collapse of a giant interstellar molecular cloud. The vast majority
        of the system's mass is in the Sun, with the majority of the remaining
        mass contained in Jupiter. The four smaller inner planets, Mercury,
        Venus, Earth and Mars, are terrestrial planets, being primarily
        composed of rock and metal. The four outer planets are giant planets,
        being substantially more massive than the terrestrials. The two largest,
        Jupiter and Saturn, are gas giants, being composed mainly of hydrogen
        and helium; the two outermost planets, Uranus and Neptune, are ice
        giants, being composed mostly of substances with relatively high melting
        points compared with hydrogen and helium, called volatiles, such as
        water, ammonia and methane. All eight planets have almost circular
        orbits that lie within a nearly flat disc called the ecliptic.
      </p>
      <p>
        The Solar System also contains smaller objects. The asteroid belt,
        which lies between the orbits of Mars and Jupiter, mostly contains
        objects composed, like the terrestrial planets, of rock and metal.
        Beyond Neptune's orbit lie the Kuiper belt and scattered disc,
        which are populations of trans-Neptunian objects composed mostly
        of ices, and beyond them a newly discovered population of sednoids.
        Within these populations are several dozen to possibly tens of
        thousands of objects large enough that they have been rounded by
        their own gravity. Such objects are categorized as dwarf planets.
        Identified dwarf planets include the asteroid Ceres and the
        trans-Neptunian objects Pluto and Eris. In addition to these
        two regions, various other small-body populations, including
        comets, centaurs and interplanetary dust clouds, freely travel
        between regions. Six of the planets, at least four of the dwarf
        planets, and many of the smaller bodies are orbited by natural
        satellites, usually termed "moons" after the Moon. Each of the
        outer planets is encircled by planetary rings of dust and other small objects.
      </p>
      <p>
        The solar wind, a stream of charged particles flowing outwards from the Sun,
        creates a bubble-like region in the interstellar medium known as the
        heliosphere. The heliopause is the point at which pressure from the
        solar wind is equal to the opposing pressure of the interstellar
        medium; it extends out to the edge of the scattered disc.
        The Oort cloud, which is thought to be the source for long-period
        comets, may also exist at a distance roughly a thousand times further
        than the heliosphere. The Solar System is located in the Orion Arm,
        26,000 light-years from the center of the Milky Way.
      </p>
      <br>
      <p>
        Distances and scales
        The distance from Earth to the Sun is 1 astronomical unit (150,000,000 km), or AU.
        For comparison, the radius of the Sun is 0.0047 AU (700,000 km).
        Thus, the Sun occupies 0.00001% (10−5 %)
        of the volume of a sphere with a radius the size of Earth's orbit,
        whereas Earth's volume is roughly one millionth (10−6) that of the Sun. Jupiter,
        the largest planet, is 5.2 astronomical units (780,000,000 km) from the Sun and
        has a radius of 71,000 km (0.00047 AU), whereas the most distant planet, Neptune,
        is 30 AU (4.5×109 km) from the Sun.
      </p>
      <br>
      <p>
        With a few exceptions, the farther a planet or belt is from the Sun, the larger
        the distance between its orbit and the orbit of the next nearer object to the Sun.
        For example, Venus is approximately 0.33 AU farther out from the Sun than Mercury,
        whereas Saturn is 4.3 AU out from Jupiter, and Neptune lies 10.5 AU out from Uranus.
        Attempts have been made to determine a relationship between these orbital distances
        (for example, the Titius–Bode law), but no such theory has been accepted.
        The images at the beginning of this section show the orbits of the various
        constituents of the Solar System on different scales.
      </p>
      <br>
      <p>
        Some Solar System models attempt to convey the relative scales involved in the
        Solar System on human terms. Some are small in scale (and may be mechanical—called orreries)
        —whereas others extend across cities or regional areas. The largest such scale model,
        the Sweden Solar System, uses the 110-metre (361 ft) Ericsson Globe in Stockholm as its
        substitute Sun, and, following the scale, Jupiter is a 7.5-metre (25-foot) sphere at
        Arlanda International Airport, 40 km (25 mi) away, whereas the farthest current object,
        Sedna, is a 10 cm (4 in) sphere in Luleå, 912 km (567 mi) away.
      </p>
      <br>
      <p>
        If the Sun–Neptune distance is scaled to 100 metres, then the Sun would be about 3 cm
        in diameter (roughly two-thirds the diameter of a golf ball), the giant planets would
        be all smaller than about 3 mm, and Earth's diameter along with that of the other
        terrestrial planets would be smaller than a flea (0.3 mm) at this scale.
      </p>
    <div>
      <img src="http://www.justscience.in/wp-content/uploads/2017/11/what-is-the-importance-of-exploring-our-solar-system-and-necessity-of-space-exploration.jpg"/>
    </div>

  </body>
</html>
