<p id="notice"><%= notice %></p>

<h1>Moons</h1>

<% @moons.each do |moon| %>
  <p class="moon-index">
    <%= link_to moon.name, moon_path(moon.id) %>
  </p>
<% end %>

<% if @current_user.present? %>
<div class="controls">
  <h3><%= link_to 'New Moon', new_moon_path %></h3>
</div>
<% end %>
