<p id="notice"><%= notice %></p>

<h1>Moons</h1>

<% @moons.each do |moon| %>
  <p id="moon-index">
    <% link_to moon.name, moon_path(moon.id) %>
    <% unless moon.image == nil || moon.image.empty? %>
      <%= link_to image_tag(moon.image, :alt => moon.image, :class => 'thumb'), moon_path(moon.id) %>
    <% end %>
  </p>
<% end %>

<% if @current_user.present? %>
<div class="controls">
  <h3><%= link_to 'New Moon', new_moon_path %></h3>
</div>
<% end %>
