<p id="notice"><%= notice %></p>

<h1>Moons</h1>

<% @moons.each do |moon| %>
  <p>
    <%= link_to moon.name, moon_path(moon.id) %>
  </p>
<% end %>

<h3><%= link_to 'New Moon', new_moon_path %></h3>
<td><%= image_tag moon.link %></td>
