<p id="notice"><%= notice %></p>

<h2>Moons</h2>

<% @moons.each do |moon| %>
  <p id="moon-index">
    <div id="orb-container">
      <div id="orb-text-centered">
        <%= link_to moon.name, moon_path(moon.id) %>
      </div>
      <% unless moon.image == nil || moon.image.empty? %>
        <%= link_to image_tag(moon.image, :alt => moon.name, :class => 'moon'), moon_path(moon.id) %>
      <% end %>
    </div>
  </p>
<% end %>

<% if @current_user.present? %>
<div class="controls new-moon">
  <h3><%= link_to 'New Moon', new_moon_path %></h3>
</div>
<% end %>
