@import url('https://fonts.googleapis.com/css?family=Gugi');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Gugi', cursive;
}

.container {
  height: 80vh;
}

#moon-index a {
  color: white;
}

#planet-index a {
  color: white;
}

// img {
//   width: 100%;
// }

nav {
  display: flex;
  justify-content: space-around;
  color: white;
}

nav a {
  color: white;
  padding: 0.5em;
  text-decoration: none;
  // display: inline-block; /* need this to have padding */
}

nav ul li {
    list-style: none;
}

.container {
  max-width: 1280px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 0.5em;
}

canvas {
  border: green 2px solid;
  border-radius: 20px;
  z-index: -10;
}

@media (min-width: 755px) {

  #planet-index img {
    width: 100%;
  }

  img {
    width: 20%;
  }

  nav li {
    display: inline-block;
  }

  aside.planet-list {
    display: flex;
  }
}

@media (max-width: 480px) {
  img {
    width: 100%;
  }
  nav {
    display: block;
  }

  aside {
    display: inline-block;
  }
}
