@import url('https://fonts.googleapis.com/css?family=Gugi');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Gugi', cursive;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding-top: 82.88px;
  // background-color: pink;
}

header {
  overflow: hidden; /* required to make header stick to top of browser window */
  position: fixed; /* set the navbar to fixed position */
  top: 0; /* also required to position the navbar at the top of the page */
  width: 100%;
  background-color: black;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: -70px;
  margin-right: 470px;
  border-bottom: rgba(217, 221, 226, 0.1) 2px solid;
  width: 100%;
}

nav a {
  color: white;
  padding: 0.5em;
  text-decoration: none;
  // display: inline-block; /* need this to have padding */
}

nav ul li {
    list-style: none;
    display: inline-block;
}

h1 {
  padding-left: 20px;
  color: white
}

h1 a {
  text-decoration: none;
}

h1 a:hover {
  color: white
}

h1 a:visited {
  color: white
}

h2 {
  font-size: 2em;
}

/*#############*/
/* HOME STYLES */
/*#############*/
.divButtonArrow a {
  position: relative;
  // centre: 0;
  top: 90%;
  width: 4em;
  margin-top: -1em;
  background-color: rgba(158, 225, 237, 0.1);
  border: rgba(217, 221, 226, 0.1) 2px solid;
  border-radius: 5px;
  padding: 10px;
  color: rgb(158, 225, 237);
  text-decoration: none;
  font-size: 2em;
}


#home-image {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#home-image img {
  width: 100%;
  border: rgba(217, 221, 226, 0.1) 2px solid;
}

.home-text h2 {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  padding: 70px 20px 0 20px;
}

.home-text p {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

#home-text-anchor {
  padding: 10px;
}

/*##########################*/
/* PLANETS AND MOONS STYLES */
/*##########################*/

img.saturn {
  width: 100%;
}

#moon-index a {
  color: rgb(158, 225, 237);
}

.moon-name {
  margin-top: 50px;

}

img.moon {

}

#planet-index a {
  color: white;
}

.show-text {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

.show-text a {
  color: rgb(158, 225, 237);
}

.controls a {
  color: rgb(158, 225, 237);
}

.new-moon {
  position: fixed;
  right: 0;
  top: 90%;
  width: 8em;
  margin-top: -1em;
  background-color: rgba(158, 225, 237, 0.1);
  border: rgba(217, 221, 226, 0.1) 2px solid;
  border-radius: 5px;
}
.system {
  display: none;
}

.new-planet {
  position: fixed;
  right: 0;
  top: 90%;
  width: 8em;
  margin-top: -1em;
  background-color: rgba(158, 225, 237, 0.1);
  border: rgba(217, 221, 226, 0.1) 2px solid;
  border-radius: 5px;
}

#orb-container {
  position: relative;
  text-align: center;
  // align-items: center;

}

#orb-text-centered a {
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px black;
  text-decoration: none;
  transition: opacity 1.5s ease-in;
  transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-in;
  -webkit-transition: opacity 1.5s ease-out;
}

#orb-text-centered a:hover {
  opacity: 1;
}

#empty-orb {
  border-radius: 50%;
  background-color: rgba(158, 225, 237, 0.8);
  width: 20em;
  height: 20em;
  margin: 0 auto;
}



/*###############*/
/*  FORM STYLES  */
/*###############*/
.form-style {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2em;
  padding-bottom: 20px;
}

form {
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px;
}

label {
  grid-column: 1 / 2;
}

input {
  grid-column: 2 / 3;
}

.notes-text-area {
  height: 20em;
}

// .long-text {
//   width: 98.7%;
// }
/*###########################*/
/*  ANIMATION CANVAS STYLES  */
/*###########################*/
/* this centers the animation div also see main.js line 231 onSize function */
#solar-animation {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

canvas {
  border: rgba(217, 221, 226, 0.1) 2px solid;
  border-radius: 20px;
}

.dg.a {
    float: right;
    margin-top: 118px;
    overflow: hidden;
    border-radius: 5px;
    // -webkit-transition: opacity 1.5s ease-out;
    // display: none;
  }

  .dg.a {
    // display: none;
  }
/*################################*/
/*  RESPONSIVE BREAKPOINT STYLES  */
/*################################*/
@media (min-width: 1078px) {
  #planet-index img {
    width: 100%;
  }

  #moon-index img {
    width: 40%;
  }

  #planet-index img {
    width: 40%;
  }
}

@media (max-width: 998px) {
  // body {
  //   background-color: red;
  // }

  nav {
    width: 100%;
    margin-top: -10px;
  }

  h2 {
    margin-top: 120px;
  }

  img {
    margin-top: 20px;
    width: 90%;
  }

  .show-text {
    width: 100%;
  }

  #show-small {
  margin-top: 100px;
  }
}

@media (max-width: 439px) {

  h1 {
    font-size: 1.7em;
  }

  nav {
    width: 100%;
    margin-top: -30px;
  }

  nav .main_nav {
    margin-left: -40px;
    padding-left: 5px;
  }

  nav .signup_nav {
    margin-left: -40px;
  }

  img {
    margin-top: -5px;
    width: 90%;
  }

  .show-text {
    width: 100%;
  }

  img.thumb {
    margin-top: 40px;
  }

  .show-text h2 {
    margin-top: 5px;
  }

  .dg.a {
      display: none;
    }

  .home-text p {
    width: 90%;
  }

  .divButtonArrow {
    display: none;
  }

  h2#small-planets-h2 {
    margin-top: 50px;
  }

  h2#show-moon-h2 {
  margin-top: 50px;
  }

  h2#small-user-h2 {
    margin-top: 50px;
  }

  #small-home-h2 {
    text-align: left;
    margin-top: -70px;
    font-size: 1.9em;
    width: 90%;
  }
}
